In [1]:
import pandas as pd
import sys,os
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.getcwd()

'C:\\Users\\EFNYM'

In [3]:
os.chdir('C:\\krish workspace\\Indian Advisors')

In [4]:
os.listdir()

['Advisors2021_80Sale.xlsx',
 'India Advisor Details 2021.xlsx',
 'India Advisor Details 2022.xlsx']

# Reading source file

In [5]:
DATA = pd.read_excel(r'India Advisor Details 2022.xlsx',sheet_name='Sheet 1')

In [6]:
DATA.shape

(182671, 35)

In [7]:
DATA.dtypes

index                                                 object
Advisor name                                          object
Retailer Name                                         object
Retailer ID                                           object
Advisor ID                                            object
Month of Order Intent Created Date                    object
Advisor Phone Number                                   int64
Country Code                                          object
Hierarchy Level 3                                     object
Hierarchy Level 2                                     object
Hierarchy Level 1                                     object
Advisor Type                                          object
Product category                                      object
Product Brand                                         object
Product Name                                          object
Unit                                                  object
Total Order Intents                                    int64
Distinct count of Cancelled Order Intents              int64
Farmers with Intent                                    int64
Farmers with multiple Intents                          int64
Farmers with Purchase                                  int64
Distinct count of Farmers with multiple purchases      int64
Farmer Conversion                                    float64
Active Retailers                                       int64
Volume Intent                                        float64
Volume Cancelled                                     float64
Volume Purchased                                     float64
Returned Volume                                      float64
Avg Volume Sold per Farmers                          float64
Total Intent Value                                   float64
Cancelled Order Value                                float64
Sales Value                                          float64
Avg Sales per Farmer                                 float64
Actual Commission                                    float64
Intended Commission                                  float64
dtype: object

# first finding total sales value from the dataset

In [8]:
#adv=DATA.groupby(["Advisor name"])["Sales Value"].sum().rename("SumSales").reset_index()

In [9]:
#adv

           Advisor name   SumSales
0             A Bharath     5188.0
1            A Nagaraju  4191686.0
2              A PRASAD    90162.0
3     A S MAHENDRAGOUDA     2980.0
4               A Swamy      959.0
...                 ...        ...
3762      yogesh khadak    92430.0
3763       yogesh kumar  3454216.0
3764       yogesh saini   576575.0
3765    जितेंद्र गुप्ता    10592.0
3766        शोभा वैष्णव    10544.0

[3767 rows x 2 columns]

In [10]:
total_sales=DATA["Sales Value"].sum()

In [11]:
total_sales

3362276288.8239317

# method sorting & filter out using CUMSUM & Numpy

In [14]:
Advisorslist = pd.DataFrame().assign(Advisor=DATA['Advisor name'], salesvalue=DATA['Sales Value'])

In [15]:
Advisorslist

            Advisor  salesvalue
0         A Bharath         0.0
1         A Bharath      4908.0
2         A Bharath       280.0
3        A Nagaraju         0.0
4        A Nagaraju         0.0
...             ...         ...
182666  शोभा वैष्णव       225.0
182667  शोभा वैष्णव      2730.0
182668  शोभा वैष्णव       649.0
182669  शोभा वैष्णव      2324.0
182670  शोभा वैष्णव       835.0

[182671 rows x 2 columns]

In [18]:
cumsum=(Advisorslist["salesvalue"]/Advisorslist["salesvalue"].sum()).sort_values().cumsum()

In [19]:
Advisorslist["label"]=pd.Series(0, index=cumsum.index).where(cumsum <= 0.2, 1)

In [20]:
print(Advisorslist)

            Advisor  salesvalue  label
0         A Bharath         0.0      0
1         A Bharath      4908.0      0
2         A Bharath       280.0      0
3        A Nagaraju         0.0      0
4        A Nagaraju         0.0      0
...             ...         ...    ...
182666  शोभा वैष्णव       225.0      0
182667  शोभा वैष्णव      2730.0      0
182668  शोभा वैष्णव       649.0      0
182669  शोभा वैष्णव      2324.0      0
182670  शोभा वैष्णव       835.0      0

[182671 rows x 3 columns]

In [21]:
idx=np.where(Advisorslist['label']==1)

In [22]:
idx

(array([    20,     21,     25, ..., 182592, 182603, 182605], dtype=int64),)

In [23]:
advisorsinfo=Advisorslist.loc[idx].reset_index()

In [24]:
advisorsinfo

        index                   Advisor  salesvalue  label
0          20                A Nagaraju    114700.0      1
1          21                A Nagaraju     60200.0      1
2          25                A Nagaraju    228000.0      1
3          26                A Nagaraju     27600.0      1
4          29                A Nagaraju     64428.0      1
...       ...                       ...         ...    ...
26230  182563  Yuvrajsinh Hanubha Gohil     34615.0      1
26231  182591  Yuvrajsinh Hanubha Gohil     92880.0      1
26232  182592  Yuvrajsinh Hanubha Gohil     27375.0      1
26233  182603  Yuvrajsinh Hanubha Gohil     71195.0      1
26234  182605  Yuvrajsinh Hanubha Gohil     51840.0      1

[26235 rows x 4 columns]